<a href="https://colab.research.google.com/github/babu-rajendran/data-science/blob/main/Python_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Tutorial With Google Colab

##Introduction

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

This colab will serve as a quick crash course both on the Python programming language.

In this tutorial, we will cover:

* Basic Python: Basic data types (Containers, Lists, Dictionaries, Sets, Tuples), Functions, Classes, Iterators, String Formatting, Loop

## A Brief Note on Python Versions

As of Janurary 1, 2020, Python has [officially dropped support](https://www.python.org/doc/sunset-python-2/) for `python2`. We'll be using Python 3.7 for this iteration of the course. You can check your Python version at the command line by running `python --version`. In Colab, we can enforce the Python version by clicking `Runtime -> Change Runtime Type` and selecting `python3`.

In [1]:
!python --version

Python 3.7.12

##Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [2]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

Comment and Multi Line Comment

In [ ]:
# Hello, This is my first Python Tutorial Session.
# Session will be around 2 hours long.
# Hope after the lecture, everyone is comfortable with syntax and code

In [3]:
"""
Hello, This is my first Python Tutorial Session.
Session will be around 2 hours long.
Hope after the lecture, everyone is comfortable with syntax and code
"""
print("hello")

hello

### Print statement

In [4]:
if 5 > 2:
print("Five is greater than two!") # Indentation is not correct

IndentationError: ignored

In [5]:
if 5 > 2:
  print("Five is greater than two!") # correct- put atleast one space

Five is greater than two!

### Python Syntax and Indentation

In [6]:
print("Hello World")

Hello World

In [7]:
print('Hello World')

Hello World

### Variables

In [8]:
x =5 #no need to specify as int x=5 
y = "Hello, World!" # no need to specify String y="Hello, World!"

print(x)
print(y)

5
Hello, World!

###Basic data types

####Numbers

Integers and floats work as you would expect from other languages:

In [9]:
x = 3
print(x, type(x))

3 <class 'int'>

In [10]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

*Practise*

In [11]:
x=5  # Case Sensitive
X=3
print(x)
print(X)

5
3

In [12]:
x=5
print(x/2)# Division 
print(x//2) # Division but round of the quotient

2.5
2

### Increment and Decrement

In [13]:
# Does not support the increment (++) and decrement (--) operators, both in precedence and in return value.
x++
y--
--x
++z

SyntaxError: ignored

In [14]:
x=8

In [15]:
#x=x+1
x += 1

print(x)

#x=x*2
x *= 2

print(x)

9
18

In [ ]:
x-=2
print(x)

16

In [16]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [17]:
x=4
y=5
z=(x-y)*x
print(z)
print(abs(z))

-4
4


Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

####Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

####Strings

In [19]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [20]:
#hw=hello+world
hw = hello + ' ' + world  # String concatenation

print(hw)

hello world

Ques

In [21]:
x=5
y=10
z=x+""+y #Invalid
print(z)

TypeError: ignored

In [ ]:
x=5
y=10
z="5"+""+"10" #Valid
print(z)

510

In [ ]:
# Type Casting
x=5
y=10
z=str(5)+""+"10" 
a=str(5)+str(10)
print("z",z)
print("a",a)

z 510
a 510

In [ ]:
s = "hello world"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO" s.lower()
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print('  world '.strip(" "))  # Strip leading and trailing whitespace

Hello world
HELLO WORLD
he(ell)(ell)o wor(ell)d
world
world

###String Formatting

####inserting a custom string or variable in predefined text.

String formatting with "%" operator

In [22]:
#Obsolete method

name="John"
print('Hello, %s' % name) #%s format specifier here to tell Python where to substitute the value of name, represented as a string.

Hello, John

In [ ]:
name="John"
errno=50159747054

'Hey %(name)s, there is a 0x%(errno)x error!' % {"name": name, "errno": errno } #%x format specifier to convert an int value to a string and to represent it as a hexadecimal number

'Hey John, there is a 0xbadc0ffee error!'

In [23]:
custom_string = "String formatting"
print(f"{custom_string} is a powerful technique")
# you would use it for inserting a title in a graph, show a message or an error

String formatting is a powerful technique

In [24]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

In [ ]:
'Hey {name}, there is a 0x{errno:x} error!'.format(name=name, errno=errno)

'Hey John, there is a 0xffcd error!'

In [25]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
 print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [ ]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.3f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.000 dollars.

String objects have a bunch of useful methods; for example:

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

###Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

####Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [26]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

[3, 1, 'foo', 'bar']

In [27]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

2 [3, 1]

In [28]:
xs.append(3)
print(xs)
y=xs.count(3) #count the occurance of specific item
print(y)

[3, 1, 3]
2

In [29]:
y=[2,5,8,1,3]
Ascen=sorted(y) # Sort list in ascending order
Desen=sorted(y, reverse=True) # Sort list in Descending order
print(Ascen)
print(Desen)

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

### Iterators: used with List, Dictonaries, Sets 

we have iter() function that provides you iterator from containers(list,set,dictonaries)

In [30]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
# Loop through Iterator
mytuple = ("apple", "banana", "cherry","abc","def")

for x in mytuple:
  print(x)

apple
banana
cherry
abc
def

In [31]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

###Difference between sort() and sorted() function

In [32]:
# based on alphabetical order of first letter
courts=["Supreme","High","District"]
print(" the original list :",courts)

# using sorted()
new_list=sorted(courts)
print("using_sorted():",new_list)#returns a sorted list
print("aft_sorting_lst",courts)#doesn't change original list

#using sort()
k=courts.sort()
print("using_sort():",k)#returns Nothing
print("aft_sort_lst:",courts) #changes the original list

 the original list : ['Supreme', 'High', 'District']
using_sorted(): ['District', 'High', 'Supreme']
aft_sorting_lst ['Supreme', 'High', 'District']
using_sort(): None
aft_sort_lst: ['District', 'High', 'Supreme']

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

####Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

Equivalent of substring function in Java

String s1="javatpoint";  
System.out.println(s1.substring(2,4));//returns va  
System.out.println(s1.substring(2));//returns vatpoint  
}}

In [33]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

####Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for x in animals:
    print(x)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx, animal))

#0: cat
#1: dog
#2: monkey

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [34]:
nums=[34,23,56,78,90]
s=len(nums)
print(s)
for i in range(s):
  print(nums[i])

5
34
23
56
78
90

In [35]:
adj = ["red", "big", "tasty"] ## Nested For loop
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

####List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [36]:
nums = [0, 1, 2, 3, 4]
cubes = [x ** 3 for x in nums]
print(cubes)

[0, 1, 8, 27, 64]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

Practise

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 != 0]
print(even_squares)

[1, 9]

####Dictionaries/ Hash Map

A dictionary stores (key, value) pairs, similar to a `Map` in Java . You can use it like this:

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute".    {key:value}. d[name]
print('cat' in d)     # Check if a dictionary has a given key; prints "True"
print('fox' in d)

cute
True
False

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"
print(d)

wet
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['dog']   
print(d)     # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

{'cat': 'cute'}
N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():  # items() method is used to return the list with all dictionary keys with values.
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [ ]:
d={} # empty dict

d['Apple']=50
d['Orange']=20
print(d)
print(d['Apple'])
print(d['Grapes'])# This gives Key Error

{'Apple': 50, 'Orange': 20}
50

KeyError: ignored

In [ ]:
d={}
d['Apple']=50
d['Orange']=20
print(d['Apple'])
print(d.get('Apple'))
print(d.get('Grapes',0)) # DEFAULTING

50
50
0

In [ ]:
from collections import defaultdict
d = defaultdict(int) ## inside parenthesis we say what should be the default value.
d['Apple']=50
d['Orange']=20
print(d['Apple'])
print(d['Grapes']) ## This gives Will not give error

50
0

####Sets

A set is an unordered collection of distinct elements whereas the list is ordered and can contain the same elements in it

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')   
print(animals)   # Add an element to a set using add function
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

{'fish', 'cat', 'dog'}
True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for i, j in enumerate(animals):
 print('#{}: {}'.format(i+ 1, j))

#1: fish
#2: cat
#3: dog

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})
#print({(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

###If-Else Statement

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:  
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand Notation

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

####Nested If

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
#If statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error
a = 33
b = 200
            # print nothing
if b > a:
  pass

#### While Loop and Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue  #with continue statement we can stop the current iteration, and continue with the next
  print(i)

1
2
4
5
6

###Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
  
    if x > 0:     
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

###Classes

The syntax for defining classes in Python is straightforward:

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

###Lambda Function
A lambda function is a small anonymous function.Also called one line function

A lambda function can take any number of arguments, but can only have one expression.


Syntax:---
lambda arguments : expression

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(10, 6))

60

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
import math
x = math.ceil(1.4)
y = math.floor(1.4)
z=math.sqrt(4)
print("Ceiling value of x:",x) 
print("Floor value of y:",y)
print("square root of z:",z)

Ceiling value of x: 2
Floor value of y: 1
square root of z: 2.0

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

### Regular Expressions

In [ ]:
import re
txt = "hello world"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)    
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
import re
# check whether string starts with "The" and ends with "Spain"
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [ ]:
txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[s-p]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
txt = "That will be9 5 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [ ]:
txt = "hello world"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he...o", txt)
print(x)

[]

In [ ]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

#x = re.findall("aix*", txt)
x=re.findall("S?",txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['', '', '', '', '', '', '', '', '', '', '', '', 'S', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
Yes, there is at least one match!

In [ ]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
txt = "The rain in Spain" #Split the string at first occurance only
x = re.split("\s", txt,3)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
txt = "The rain in Spain" #Replace first two occurances
x = re.sub("\s", "T", txt,1)
print(x)

TheTrain in Spain